<section class="min-h-screen background">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <img class="h-auto max-w-full" src="../../../assets/images/logos/logo.png" alt="image description">
      <button type="button" [routerLink]="['/initial-description']"
        class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
        Comenzar</button>

    </div>
  </div>
</section>
