<section class="min-h-screen background">
  <div class="grid grid-cols-1 sm:grid-cols-2 grid-rows-1 gap-0">
    <div class="p-6 ">
      <p class="text-6xl text-gray-900 dark:text-white" style="color: #3B865D;">Preocupaciones dentro de tu comunidad
      </p>
      <form>
        <label for="message" class="block mb-2 mt-5 text-xl font-medium text-gray-900" style="color: #3B865D;">¿Cuáles
          son las mayores preocupaciones dentro de tu comunidad?</label>
        <span class="text-xs text-gray-500 dark:text-gray-400"> ¿Cómo crees que tu idea puede ser afectada por la
          comunidad?
          ¿Crees que tu idea puede ser afectada por las autoridades? ¿Crees que tu idea puede ser afectada por la falta
          de recursos? </span>
        <textarea id="message" rows="6" [(ngModel)]="concernsForm.concerns" name="message"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Escribe aqui tu respuesta"></textarea>

        <label for="message" class="block mb-2 mt-5 text-xl font-medium text-gray-900"
          style="color: #3B865D;">Selecciona la opción que represente el mayor riesgo para tu idea</label>
        <select id="countries" [(ngModel)]="concernsForm.risk" name="risk"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>La falta de recursos</option>
          <option selected>La falta de apoyo de la comunidad</option>
          <option selected>La falta de apoyo de las autoridades</option>
        </select>


        <label for="message" class="block mb-2 mt-5 text-xl font-medium text-gray-900"
          style="color: #3B865D;">Selecciona el nivel de urgencia que crees que tiene tu idea</label>

        <input type="range" id="budget-range" name="budget-range" min="0" max="100" value="50" step="1"
          class="block w-full mt-2" [(ngModel)]="concernsForm.priority">
        <div class="flex justify-between text-xs text-gray-500 dark:text-gray-400">
          <span>Baja</span>
          <span>Media</span>
          <span>Alta</span>
        </div>

      </form>

      <div class="text-center mt-5">
        <button type="button" [routerLink]="['/need/strengths']"
          class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
          Atras</button>
        <button type="button" (click)="saveConcernsForm()" [routerLink]="['/ods']"
          class="ml-auto focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
          Siguiente</button>
      </div>
    </div>

    <div class="p-6 ">
      <img class="h-auto ml-auto max-w-xs" src="../../../assets/images/logos/logo.png" alt="image description">
      <img class="h-auto mx-auto max-w-xl" src="../../../assets/images/storyset/concerns.png" style="margin-top: -8rem;"
        alt="about-me">
    </div>
  </div>

</section>
