<section class="min-h-screen background">
  <div class="grid grid-cols-1 sm:grid-cols-2 grid-rows-1 gap-0">
    <div class="p-6">
    </div>
    <div class="p-6 ">
      <img class="h-auto ml-auto max-w-xs" src="../../../assets/images/logos/logo.png" alt="image description">
    </div>
  </div>
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6" style="margin-top: -14rem;">
    <div class="mx-auto max-w-screen text-center">
      <img class="h-auto max-w-lg mx-auto" src="../../../assets/images/storyset/load-info.gif" alt="image description">
      <p class="text-6xl" style="color: #3B865D;"> Estamos procesando la información</p>
    </div>
  </div>

</section>
