<section class="min-h-screen background">
  <div class="grid grid-cols-1 grid-rows-1 mb-5">
    <div class="text-center">
      <p class="text-6xl" style="color: #3B865D; margin-top: 5rem;"> Selecciona una opción</p>
    </div>
  </div>

  <div class="grid grid-cols-3 grid-rows-1 gap-4">
    <div class="content-center" style="margin-right: -30rem;">
      <div class="max-w-md mx-auto border-4 border-gray-200 rounded-lg shadow">
        <a href="#">
          <img class="rounded-t-lg" src="../../../assets/images/storyset/normal-user.png" alt="" />
        </a>
        <div class=" p-5">
          <a href="#">
            <h5 class="mb-2 text-4xl font-bold text-center " style="color: #3B865D"> Mis necesidades</h5>
          </a>
        </div>
      </div>
    </div>
    <div>
      <p class="text-6xl text-center" style="color: #3B865D; margin-top: 15rem;"> Ó</p>
    </div>

    <div class="content-center" style="margin-left: -30rem;">
      <div class="max-w-md mx-auto border-4 border-gray-200 rounded-lg shadow">
        <a href="#">
          <img class="rounded-t-lg" src="../../../assets/images/storyset/idea-user.png" alt="" />
        </a>
        <div class=" p-5">
          <a href="#">
            <h5 class="mb-2 text-4xl font-bold text-center " style="color: #3B865D"> Tengo una idea</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-3 grid-rows-1 gap-4 mt-5">
    <div class="text-center">
      <button type="button" [routerLink]="['/user-choice']"
        class="ml-auto focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
        Volver</button>
    </div>
    <div class="text-center">
      <button type="button" [routerLink]="['/user-choice']"
        class="ml-auto focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
        ¿Cuál elegir?</button>
    </div>
    <div class="text-center" style="margin-top: -5rem;">
      <img class="h-auto ml-auto max-w-xs" src="../../../assets/images/logos/logo.png" alt="image description">

    </div>
  </div>



</section>
